version: "3.8"


services:
  mysql:
    image: mysql:8.0
    container_name: mysql
    restart: always
    environment:
      - MYSQL_DATABASE=demo
      - MYSQL_ALLOW_EMPTY_PASSWORD=yes
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
      - ./db/init.sql:/docker-entrypoint-initdb.d/init.sql
      - ./db/root-grant.sql:/docker-entrypoint-initdb.d/root-grant.sql

  backend:
    build: ./backend
    ports:
      - "8080:8080"
    depends_on:
      - mysql
    environment:
      - DB_HOST=mysql
      - DB_PORT=3306
      - DB_NAME=demo
      - DB_USER=root
      - DB_PASSWORD=

  frontend:
    build: ./app
    ports:
      - "4200:80"

volumes:
  mysql_data:
