.container {
  p {
    span {
      font-weight: bold;
    }
  }

  button {
    padding: 0.6rem 1.2rem;
    border-radius: 6px;
    border: none;
    background-color: #4f46e5;
    color: #fff;
    font-weight: 500;
    cursor: pointer;

    &:hover {
      background-color: #4338ca;
    }
  }
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;

  th, td {
    border: 1px solid #ddd;
    padding: 8px;
  }

  .text-center {
    text-align: center;
  }
}
