<section>
  <h1>Change password</h1>
  <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="password">Password:</label>
      <input type="password" id="password" formControlName="password">
      @if (changePasswordForm.get("email")?.invalid && changePasswordForm.get("email")?.touched) {
        <div>Valid email is required</div>
      }
    </div>

    <div>
      <label for="passwordAgain">Password Again:</label>
      <input type="password" id="passwordAgain" formControlName="passwordAgain">
      @if (changePasswordForm.get("passwordAgain")?.invalid && changePasswordForm.get("passwordAgain")?.touched) {
        <div>Password is required</div>
      }
    </div>
    <button type="submit" [disabled]="changePasswordForm.invalid">Change password</button>
  </form>
</section>
